
@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-controller="Flights" asp-action="Index">< Back to Flights</a>
    <p></p>
</div>

<h1>This user has no orders</h1>
<div>
    <p>Het kan zijn dat er wel orders zijn.</p>
    <p>Deze staan in de database</p>
    <p>Door een probleem met migrations lukt het niet om een SELECT query te runnen op Orders Table</p>
</div>

